{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "add-module-exports",
            {
              "addDefaultProperty": true
            }
        ],
        "transform-vue-inline-template",
        "transform-vue-template",
        "transform-object-assign"
    ]
}
